

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">

    <h2>Student's max fives statistics</h2>
    @using (Html.BeginForm("Details", "FivesStat", FormMethod.Get))
    {
        @Html.AntiForgeryToken()
        <div class="col-auto">
            <form asp-action="Details" method="get">
                <div class="form-actions no-color row">
                    <div class="input-group mb-3">
                        <label>Max fives</label>

                        <input id="maxFives" name="maxFives" class="form-control" placeholder="Max fives" aria-label="Enter number">
                        <hr />
                        <input type="submit" value="Details" class="btn btn-outline-primary" />
                    </div>
                </div>
            </form>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    }
</div>