@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WEB app for managing students' marks</h1>
    <p class="lead">It's convenient way to look at and manage students' academic performance.</p>
    <p><a href="/Journals/Index" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>